---
import Layout from "../layouts/Layout.astro";
import Nav from "../components/Nav.astro";
import Home from "../components/Home.astro";
import Compromiso from "../components/Compromiso.astro";
import Beneficios from "../components/Beneficios.astro";
---

<Layout title="Buena Madera - GEA Sustentable">
  <main>
    <Nav />
    <Home />
    <Compromiso id="Compromiso" />
    <Beneficios id="Beneficios" />
  </main>
</Layout>
