<section class="mb-40">
  <div class="text-center px-6">
    <h1 class="uppercase font-semibold lg:text-xl xl:text-2xl">
      beneficios de buena madera
    </h1>
    <div class="border-b w-20 border-black py-2 mx-auto"></div>
    <h2 class="py-4 text-sm tracking-wide font-semibold text-gris">
      Creemos que la inversión en sostenibilidad es una inversión para el
      futuro.
    </h2>
  </div>
  <div
    class="text-center w-[90%] mx-auto lg:flex lg:px-10 lg:gap-4 lg:justify-center"
  >
    <img class="h-[300px] md- m-auto lg:mx-0" src="/fondo.webp" alt="" />
    <div class="my-auto">
      <h3
        class="uppercase pt-10 lg:pt-4 pb-4 text-[10px] md:text-sm font-bold tracking-widest"
      >
        durabilidad
      </h3>
      <div class="border-b w-12 border-black mx-auto"></div>
      <p
        class="py-4 text-gris max-w-[500px] mx-auto text-[10px]/5 md:text-sm lg:text-base lg:py-0,pt-2"
      >
        La inversión en Buena Madera se traduce en años de uso sin
        preocupaciones. A diferencia de la madera tradicional que puede pudrirse
        o desgastarse con el tiempo, nuestra madera plástica es resistente y
        duradera, lo que significa que no tendrás que reemplazarla con
        frecuencia.
      </p>
    </div>
  </div>
</section>
