---
import Linea from "./extras/Linea.astro";
---

<section {...Astro.props}>
  <div class="px-6 py-6 my-10 text-center">
    <h1 class="uppercase font-semibold lg:text-xl xl:text-2xl">
      Comprometidos con el cuidado del planeta
    </h1>
    <Linea class="border-b w-20 border-black py-2 mx-auto"/>
    <h2
      class="text-gris py-4 text-xs lg:text-sm text-center tracking-wide font-semibold text-pretty"
    >
      Buena Madera es una iniciativa de GEA Sustentable
    </h2>
    <p
      class="text-balance leading-snug text-sm md:text-base lg:text-lg lg:w-3/4 lg:mx-auto"
    >
      El proyecto <span class="font-bold">Buena Madera</span> nace con la intención
      de evitar la tala de árboles y reemplazar la madera tradicional por un producto
      sostenible fabricado con residuos plásticos y duradero. Evitamos que los plásticos
      terminen en un relleno sanitario, basurales o en océanos. En nuestro proceso
      de fabricación no generamos desperdicios ya que todos los residuos del proceso
      se muelen y se vuelven a utilizar.
    </p>
  </div>
  <div
    id="divs"
    class="w-full sm:w-[400px] sm:mx-auto lg:flex lg:gap-8 xl:gap-28 lg:w-full lg:[&>div]:w-[400px] lg:justify-center"
  >
    <div class="bg-oscuro text-white text-center px-6 py-6 mb-10">
      <h2 class="text-marron text-sm text-pretty md:text-base lg:text-xl">
        BUSCAMOS IMPULSAR LA ECONOMÍA CIRCULAR Y EL ZERO WASTE
      </h2>
      <Linea class="border-b w-20 border-gris py-2 mx-auto"/>
      <p class="py-4 leading-6 text-xs md:text-sm lg:text-base">
        En <span class="font-bold">Buena Madera</span>, nos dedicamos a promover
        una economía circular aprovechando los residuos plásticos y
        convirtiéndolos en un producto que reduce la tala de árboles. Somos una <span
          class="font-bold">empresa B</span
        > y como tal, estamos comprometidos con la preservación del planeta, generando
        un impacto positivo en beneficio de las presentes y futuras generaciones.
      </p>
    </div>
    <div class="bg-oscuro text-white text-center px-6 py-6 mb-10">
      <h2 class="text-marron text-sm text-pretty md:text-base lg:text-xl">
        EL COMPROMISO AMBIENTAL DEL GRUPO GEA Y BUENA MADERA
      </h2>
      <Linea class="border-b w-20 border-gris py-2 mx-auto"/>
      <p class="py-4 leading-6 text-xs md:text-sm lg:text-base">
        <span class="font-bold">Buena Madera</span> es una unidad de negocios del
        <span class="font-bold">Grupo GEA</span> creada en 2022. Afirma nuestro compromiso
        con la sostenibilidad y nuestro propósito de alcanzar el <span
          class="font-bold">Zero Waste</span
        >.
      </p>
    </div>
  </div>
</section>
