---
import "photoswipe/style.css";
---

<section class="px-6 pb-20 pt-16 bg-marron/75">
  <h2
    class="flex pb-10 uppercase text-lg max-w-6xl mx-auto text-center justify-center"
  >
    <a
      class="mt-6 py-2 px-3 bg-marron transition border-2 border-gray-300 rounded-lg text-white font-bold text-sm items-center flex hover:brightness-75 active:brightness-50 text-balance"
      href="https://www.instagram.com/buenamadera.gea/"
      target="_blank"
      rel="noopener noreferrer"
      >¡hace click y seguinos en instagram! <br />
      @geabuenamadera</a
    >
  </h2>
  <div class="md:flex" id="gallery">
    {
      Array.from({ length: 6 }).map((_, i) => (
        <a
          href={`/galeria/galeria${i + 1}.webp`}
          target="_blank"
          data-pswp-width="1875"
          data-pswp-height="2500"
        >
          <img
            class="hover:brightness-75 "
            src={`/galeria/galeria${i + 1}.webp`}
            alt="Imagenes subidas al Instagram de Buena Madera durante la campaña 2024"
          />
        </a>
      ))
    }
  </div>
</section>

<script>
  import PhotoSwipeLightbox from "photoswipe/lightbox";

  const lightbox = new PhotoSwipeLightbox({
    gallery: "#gallery",
    children: "a",
    pswpModule: () => import("photoswipe"),
  });

  lightbox.init();
</script>
