<section>
    <h2 class="uppercase text-center py-10 text-2xl font-bold tracking-widest">
        mobiliario
    </h2>
    <div class="py-20 md:flex justify-between space-y-20">
        <div class="relative w-[500px] h-[300px] sm:h-[500px] overflow-hidden">
            <a
                class="text-white uppercase font-bold text-lg absolute m-[50%] z-30"
                href="#mesa">mesa escandinava</a
            >
            <a
                class="bg-mob-1 brightness-75 bg-center bg-cover w-[90%] md:w-[500px] h-[300px] sm:h-[500px] mx-auto text-center flex justify-center items-center overflow-hidden hover:scale-110 transition-scale duration-[3s]"
                href="#mesa"></a>
        </div>
        <div
            class="relative w-[90%] md:w-[500px] h-[300px] sm:h-[500px] overflow-hidden"
        >
            <a
                class="text-white uppercase font-bold text-lg absolute m-[50%] z-30"
                href="#reposera">reposera</a
            >
            <a
                class="bg-mob-2 brightness-75 bg-center bg-cover w-[90%] md:w-[500px] h-[300px] sm:h-[500px] mx-auto text-center flex justify-center items-center overflow-hidden hover:scale-110 transition-scale duration-[3s]"
                href="#reposera"></a>
        </div>
    </div>
    <div>
        <div>
            <img src="" alt="" />
            <h3 id="mesa">mesa escandinava</h3>
            <h4>Fabricada 100% con plástico reciclado.</h4>
            <div class="border-b w-[90%] md:w-2/4 border-marron"></div>
            <span>$305.613,00 <span>+IVA</span></span>
            <p>
                ¡Ideal para exteriores! Al estar fabricada con madera plástica
                reciclada no se deforma, no se pudre, no atra plagas y no
                requiere mantenimiento.
            </p>
            <p>
                Medida de la mesa: 1,90x0,60mts <br />
                (Mobiliario completo: 1,90x1,50mts - incluye bancos)
            </p>
            <span>Peso 100 kg</span>
            <h4>¿Qué estás esperando para tener la tuya?</h4>
            <h4>Este verano elegí sustentable, elegí Buena Madera</h4>
            <div class="border-b w-[90%] md:w-2/4 border-marron"></div>
            <button
                ><a href="https://wa.link/2v6t9l">¡Quiero más info!</a></button
            >
        </div>
        <div>
            <img src="" alt="" />
            <h3 class="#reposera">reposera #veranosustentable</h3>
            <h4>Fabricada 100% con plástico reciclado.</h4>
            <div class="border-b w-[90%] md:w-2/4 border-marron"></div>
            <span>$212.125,00<span>+IVA</span></span>
            <p>
                ¡Ideal para exteriores! Al estar fabricada con madera plástica
                reciclada no se deforma, no se pudre, no atra plagas y no
                requiere mantenimiento.
            </p>
            <p>Medida de la reposera: 2,00x0,65mts</p>
            <span>Peso 56 kg</span>
            <h4>¿Qué estás esperando para tener la tuya?</h4>
            <h4>Este verano elegí sustentable, elegí Buena Madera</h4>
            <div class="border-b w-[90%] md:w-2/4 border-marron"></div>
            <button
                ><a href="https://wa.link/2v6t9l">¡Quiero más info!</a></button
            >
        </div>
    </div>
</section>
