<section>
  <h2
    class="uppercase text-center py-10 text-2xl md:text-3xl xl:text-4xl font-bold tracking-widest"
  >
    mobiliario
  </h2>
  <div
    class="md:px-5 py-5 flex flex-col md:flex-row justify-between md:justify-center items-center gap-y-10 md:gap-y-0 md:gap-x-10"
  >
    <div
      class="relative w-[90%] md:w-[500px] h-[300px] lg:h-[500px] overflow-hidden"
    >
      <a
        class="text-white uppercase font-bold text-lg absolute left-[50%] top-[50%] z-30 w-max px-4 hover:bg-white hover:text-black transition-hover duration-300"
        href="#mesa">mesa escandinava</a
      >
      <a
        class="bg-mob-1 brightness-80 bg-center bg-cover md:w-[500px] h-[300px] lg:h-[500px] flex overflow-hidden hover:scale-125 transition-scale duration-[5s]"
        href="#mesa"></a>
    </div>
    <div
      class="relative w-[90%] md:w-[500px] h-[300px] lg:h-[500px] overflow-hidden"
    >
      <a
        class="text-white uppercase font-bold text-lg absolute left-[50%] top-[50%] z-30 w-max px-4 hover:bg-white hover:text-black transition-hover duration-300"
        href="#reposera">reposera</a
      >
      <a
        class="bg-mob-2 brightness-80 bg-center bg-cover md:w-[500px] h-[300px] lg:h-[500px] flex overflow-hidden hover:scale-125 transition-scale duration-[5s]"
        href="#reposera"></a>
    </div>
  </div>
  <div class="space-y-40 py-40">
    <div
      class="w-[90%] mx-auto lg:flex lg:justify-center lg:gap-x-6 xl:gap-x-20"
    >
      <img class="lg:w-[500px] bg-cover" src="/mobiliario/item-1.webp" alt="" />
      <div class="px-2 max-w-lg">
        <h3 id="mesa" class="pt-6 uppercase text-lg md:text-xl tracking-widest">
          mesa escandinava
        </h3>
        <h4 class="py-3 px-1 text-gris text-xs md:text-base tracking-widest">
          Fabricada 100% con plástico reciclado.
        </h4>
        <div class="mx-1 border-b w-10 border-marron"></div>
        <span class="py-4 block font-bold text-xl"
          >$305.613,00 <span class="font-light text-xs">+IVA</span></span
        >
        <p class="py-2 tracking-wide text-balance">
          ¡Ideal para exteriores! Al estar fabricada con madera plástica
          reciclada no se deforma, no se pudre, no atrae plagas y no requiere
          mantenimiento.
        </p>
        <p class="py-2 text-gris text-xs leading-6">
          Medida de la mesa: 1,90x0,60mts <br />
          (Mobiliario completo: 1,90x1,50mts - incluye bancos) <br />
          Peso 100 kg
        </p>
        <h4 class="italic py-2">¿Qué estás esperando para tener la tuya?</h4>
        <h4 class="italic pb-2 text-pretty">
          Este verano elegí sustentable, elegí <span
            class="font-bold text-marron">Buena Madera</span
          >
        </h4>
        <div class="border-b w-10 py-2 border-marron"></div>
        <button
          class="mt-6 bg-marron transition border-2 border-gray-300 rounded-lg text-white font-bold text-sm items-center flex hover:brightness-75 active:brightness-50"
          ><a
            class="px-4 py-2"
            href="https://wa.link/2v6t9l"
            target="_blank"
            rel="noopener noreferrer">¡Quiero más info!</a
          ></button
        >
      </div>
    </div>
    <div class="space-y-40">
      <div
        class="w-[90%] mx-auto lg:flex lg:justify-center lg:gap-x-6 xl:gap-x-20"
      >
        <img
          class="lg:w-[500px] bg-cover"
          src="/mobiliario/item-2.webp"
          alt=""
        />
        <div class="px-2 max-w-lg">
          <h3
            id="reposera"
            class="pt-6 uppercase text-lg md:text-xl tracking-widest"
          >
            reposera #veranosustentable
          </h3>
          <h4 class="py-3 px-1 text-gris text-xs md:text-base tracking-widest">
            Fabricada 100% con plástico reciclado.
          </h4>
          <div class="mx-1 border-b w-10 border-marron"></div>
          <span class="py-4 block font-bold text-xl"
            >$212.125,00 <span class="font-light text-xs">+IVA</span></span
          >
          <p class="py-2 tracking-wide text-balance">
            ¡Ideal para exteriores! Al estar fabricada con madera plástica
            reciclada no se deforma, no se pudre, no atrae plagas y no requiere
            mantenimiento.
          </p>
          <p class="py-2 text-gris text-xs leading-6">
            Medida de la reposera: 2,00x0,65mts <br />
            Peso 56 kg
          </p>
          <h4 class="italic py-2">¿Qué estás esperando para tener la tuya?</h4>
          <h4 class="italic pb-2 text-pretty">
            Este verano elegí sustentable, elegí <span
              class="font-bold text-marron">Buena Madera</span
            >
          </h4>
          <div class="border-b w-10 py-2 border-marron"></div>
          <button
            class="mt-6 bg-marron transition border-2 border-gray-300 rounded-lg text-white font-bold text-sm items-center flex hover:brightness-75 active:brightness-50"
            ><a
              class="px-4 py-2"
              href="https://wa.link/2v6t9l"
              target="_blank"
              rel="noopener noreferrer">¡Quiero más info!</a
            ></button
          >
        </div>
      </div>
    </div>
  </div>
  <style>
    .z-30 {
      transform: translate3d(-50%, -50%, 0);
    }
  </style>
</section>
