---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Buena Madera es una iniciativa de GEA Sustentable. El proyecto Buena Madera nace con la intención de evitar la tala de árboles y reemplazar la madera tradicional por un producto sostenible fabricado con residuos plásticos y duradero. Evitamos que los plásticos terminen en un relleno sanitario, basurales o en océanos. En nuestro proceso de fabricación no generamos desperdicios ya que todos los residuos del proceso se muelen y se vuelven a utilizar." />
    <meta name="viewport" content="width=device-width" />
    <meta name="keywords" content="Madera plástica, sostenibilidad, medio ambiente, ambiente, sustentable, plástico, reciclaje">
    <link rel="icon" type="image/svg+xml" href="/favicon.webp" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
<style is:global>
  html {
    font-family: "monserrat", system-ui;
    scroll-behavior: smooth;
  }
  @font-face {
    font-family: "monserrat";
    src: url("./font/monserrat.woff2") format("opentype");
    font-style: normal;
    font-display: swap;
    font-weight: normal;
  }
  @media (prefers-reduced-motion: reduce) {
    html {
      scroll-behavior: auto;
    }
  }
</style>
